{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <img src="/static/app/images/laptop/1.jpeg" class="d-block w-100" alt="..." width="300" height="200">

                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <h3>ASUS</h3>
                        </div>
                        <small class="text-body-secondary">RS.998088</small>
                      </div>
                    </div>
                  </div>
              
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <div class="card-body">
                    <img src="/static/app/images/laptop/2.jpeg" class="d-block w-100" alt="..." width="300" height="200">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <h3>LENEVO</h3>

                    </div>
                    <small class="text-body-secondary">RS.900909</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                  <div class="card-body">
                    <img src="/static/app/images/laptop/3.jpeg" class="d-block w-100" alt="..." width="300" height="200">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <h3>DELL 24</h3>
                      </div>
                      <small class="text-body-secondary">RS.989000</small>
                    </div>
                  </div>
                </div>
              </div>
    
            <div class="col">
              <div class="card shadow-sm">
                <img src="/static/app/images/laptop/4.jpeg" class="d-block w-100" alt="..." width="300" height="200">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <h3>GALAXY</h3>
                    </div>
                    <small class="text-body-secondary">RS.709099</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="/static/app/images/laptop/5.jpeg" class="d-block w-100" alt="..." width="300" height="200">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <h3>DELL</h3>
                    </div>
                    <small class="text-body-secondary">RS.903409</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="/static/app/images/laptop/6.jpeg" class="d-block w-100" alt="..." width="300" height="200">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <h3>HP</h3>
                    </div>
                    <small class="text-body-secondary">RS.809899</small>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col">
              <div class="card shadow-sm">
                <img src="/static/app/images/laptop/7.jpeg" class="d-block w-100" alt="..." width="300" height="200">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <h3>ACER</h3>
                    </div>
                    <small class="text-body-secondary">RS.960899</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="/static/app/images/laptop/8.jpeg" class="d-block w-100" alt="..." width="300" height="200">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <h3>ASUS</h3>
                    </div>
                    <small class="text-body-secondary">RS.99999</small>
                  </div>
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>
 
</div>
{% endblock main-content %}