{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}

    <div class="col-xl-5 col-lg-6">
      <h1 class="h2">
        <span class="">Bootstrap eCommerce</span><br>
        <span class="text-primary fw-bold">Product Details</span> template
      </h1>
      <p class="text-muted">Free e-commerce templates for your product details page, built with the latest Bootstrap,
        HTML,
        CSS &amp; JavaScript. MIT Licensed - free for personal &amp; commercial use.</p>
      <a class="btn btn-primary btn-lg btn-block mb-3" href="https://mdbootstrap.com/snippets/standard/mdbootstrap/4852176?view=project" role="button">
        edit &amp; download
      </a>

      <a class="btn btn-secondary btn-lg btn-block mb-2" href="https://mdbootstrap.com/snippets/standard/mdbootstrap/4852176?action=fullscreen" role="button">
        Live preview
      </a>

      <a class="btn btn-tertiary btn-lg btn-block mb-2" href="#choices" role="button">
        more templates
      </a>

      <ul class="list-group list-group-light list-group-small small mt-2">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div>
            <div class="text-muted">License</div>
          </div>
          <a href="https://mdbootstrap.com/general/license/" target="_blank" class="fw-bold text-primary text-decoration-underline">MIT License</a>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div>
            <div class="text-muted">Free for commercial use?</div>
          </div>
          <span class="fw-bold text-primary">Yes</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div>
            <div class="text-muted">Bootstrap version</div>
          </div>
          <a href="https://mdbootstrap.com/docs/standard/getting-started/changelog/" target="_blank" class="fw-bold text-primary text-decoration-underline">5.2.3+</a>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center d-none d-md-flex ">
          <div>
            <div class="text-muted">NPM downloads</div>
          </div>
          <span class="fw-bold text-primary">
            <img alt="npm" src="https://img.shields.io/npm/dt/mdb-ui-kit?style=social"></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center  d-none d-md-flex">
          <div>
            <div class="text-muted">GitHub stars</div>
          </div>
          <span class="fw-bold text-primary"><img alt="GitHub Repo stars" src="https://img.shields.io/github/stars/mdbootstrap/mdb-ui-kit?style=social"></span>
        </li>

      </ul>



      <!--Twitter, Facebook, LinkedIn & Dev.to share buttons-->
  

    </div>
  </div>
</div>


{% endblock main-content %}