{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <img src="/static/app/images/phone/1.jpeg" class="d-block w-100" alt="..." width="300" height="200">

                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <h3>SAMSUNG</h3>
                        </div>
                        <small class="text-body-secondary">RS.99888</small>
                      </div>
                    </div>
                  </div>
              
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <div class="card-body">
                    <img src="/static/app/images/phone/2.jpeg" class="d-block w-100" alt="..." width="300" height="200">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <h3>POCO</h3>

                    </div>
                    <small class="text-body-secondary">RS.90099</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                  <div class="card-body">
                    <img src="/static/app/images/phone/3.jpeg" class="d-block w-100" alt="..." width="300" height="200">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <h3>OPPO</h3>
                      </div>
                      <small class="text-body-secondary">RS.99000</small>
                    </div>
                  </div>
                </div>
              </div>
    
            <div class="col">
              <div class="card shadow-sm">
                <img src="/static/app/images/phone/4.jpeg" class="d-block w-100" alt="..." width="300" height="200">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <h3>GALAXY</h3>
                    </div>
                    <small class="text-body-secondary">RS.79099</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="/static/app/images/phone/5.jpeg" class="d-block w-100" alt="..." width="300" height="200">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <h3>REALME</h3>
                    </div>
                    <small class="text-body-secondary">RS.90909</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="/static/app/images/phone/6.jpeg" class="d-block w-100" alt="..." width="300" height="200">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <h3>REDME</h3>
                    </div>
                    <small class="text-body-secondary">RS.80999</small>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col">
              <div class="card shadow-sm">
                <img src="/static/app/images/phone/7.jpeg" class="d-block w-100" alt="..." width="300" height="200">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <h3>LAVA</h3>
                    </div>
                    <small class="text-body-secondary">RS.96899</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="/static/app/images/phone/8.jpeg" class="d-block w-100" alt="..." width="300" height="200">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <h3>ASUS</h3>
                    </div>
                    <small class="text-body-secondary">RS.99999</small>
                  </div>
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>
 
</div>
{% endblock main-content %}