{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <img src="/static/app/images/women/1.jpeg" class="d-block w-100" alt="..." width="300" height="200">

                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <h3>Polo shirt</h3>
                          
                        </div>
                        <small class="text-body-secondary">RS.998088</small>
                      </div><br>
                      <button type="button" class="btn btn-sm btn-outline-secondary" style="background-color: rgb(102, 0, 102); font-family: Arial, sans-serif; font-size: 16px; font-weight: bold;">BUY NOW</button>

                    </div>
                  </div>
              
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <div class="card-body">
                    <img src="/static/app/images/women/2.jpeg" class="d-block w-100" alt="..." width="300" height="200">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <h3>Dress shirt</h3>

                    </div>
                    <small class="text-body-secondary">RS.900909</small>
                  </div>
                  <br>
                      <button type="button" class="btn btn-sm btn-outline-secondary" style="background-color: rgb(102, 0, 102); font-family: Arial, sans-serif; font-size: 16px; font-weight: bold;">BUY NOW</button>

                </div>
              </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                  <div class="card-body">
                    <img src="/static/app/images/women/3.webp" class="d-block w-100" alt="..." width="300" height="200">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <h3>T-shirt </h3>
                      </div>
                      <small class="text-body-secondary">RS.989000</small>
                    </div>
                    <br>
                      <button type="button" class="btn btn-sm btn-outline-secondary" style="background-color: rgb(102, 0, 102); font-family: Arial, sans-serif; font-size: 16px; font-weight: bold;">BUY NOW</button>

                  </div>
                </div>
              </div>
    
            <div class="col">
              <div class="card shadow-sm">
                <img src="/static/app/images/women/4.webp" class="d-block w-100" alt="..." width="300" height="200">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <h3>Flannel shirt</h3>
                    </div>
                    <small class="text-body-secondary">RS.709099</small>
                  </div>
                  <br>
                      <button type="button" class="btn btn-sm btn-outline-secondary" style="background-color: rgb(102, 0, 102); font-family: Arial, sans-serif; font-size: 16px; font-weight: bold;">BUY NOW</button>

                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="/static/app/images/women/5.webp" class="d-block w-100" alt="..." width="300" height="200">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <h3>Henley shirt</h3>
                    </div>
                    <small class="text-body-secondary">RS.903409</small>
                  </div>
                  <br>
                      <button type="button" class="btn btn-sm btn-outline-secondary" style="background-color: rgb(102, 0, 102); font-family: Arial, sans-serif; font-size: 16px; font-weight: bold;">BUY NOW</button>

                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="/static/app/images/women/6.webp" class="d-block w-100" alt="..." width="300" height="200">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <h3>Sweatshirt</h3>
                    </div>
                    <small class="text-body-secondary">RS.809899</small>
                  </div>
                  <br>
                      <button type="button" class="btn btn-sm btn-outline-secondary" style="background-color: rgb(102, 0, 102); font-family: Arial, sans-serif; font-size: 16px; font-weight: bold;">BUY NOW</button>

                </div>
              </div>
            </div>
    
            <div class="col">
              <div class="card shadow-sm">
                <img src="/static/app/images/women/7.webp" class="d-block w-100" alt="..." width="300" height="200">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <h3>Hoodie</h3>
                    </div>
                    <small class="text-body-secondary">RS.960899</small>
                  </div>
                  <br>
                      <button type="button" class="btn btn-sm btn-outline-secondary" style="background-color: rgb(102, 0, 102); font-family: Arial, sans-serif; font-size: 16px; font-weight: bold;">BUY NOW</button>

                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="/static/app/images/women/8.webp" class="d-block w-100" alt="..." width="300" height="200">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <h3>Cardigan</h3>
                    </div>
                    <small class="text-body-secondary">RS.99999</small>
                  </div>
                  <br>
                      <button type="button" class="btn btn-sm btn-outline-secondary" style="background-color: rgb(102, 0, 102); font-family: Arial, sans-serif; font-size: 16px; font-weight: bold;">BUY NOW</button>

                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>
 
</div>


{% endblock main-content %}